<form [formGroup]="form" (ngSubmit)="cadastrar()" class="needs-validation">
    <div class="row">
       <app-input-text class="col-sm-4" [label]="'Nome'" [id]="'nome'" [tipo]="'text'"  formControlName="nome" ></app-input-text>  

    </div>
    <div class="row">
      <div class="col-sm-2">
        <div class="form-check">
          <input class="form-check-input" type="checkbox" checked="" id="aberto" formControlName="aberto">
          <label class="form-check-label" for="aberto">Aberto</label>
         </div>
       </div>
       <div class="col-sm-2">
        <div class="form-check">
          <input class="form-check-input" type="checkbox" checked="" id="andamento" formControlName="andamento">
          <label class="form-check-label" for="andamento">Andamento</label>
         </div>
       </div>
       <div class="col-sm-2">
        <div class="form-check">
          <input class="form-check-input" type="checkbox" checked="" id="incidente" formControlName="incidente">
          <label class="form-check-label" for="incidente">Incidente</label>
         </div>
       </div>
       <div class="col-sm-2">
        <div class="form-check">
          <input class="form-check-input" type="checkbox" checked="" id="cancelado" formControlName="cancelado">
          <label class="form-check-label" for="cancelado">Cancelado</label>
         </div>
       </div>
       <div class="col-sm-2">
        <div class="form-check">
          <input class="form-check-input" type="checkbox" checked="" id="concluido" formControlName="concluido">
          <label class="form-check-label" for="concluido">Concluído</label>
         </div>
       </div>
    </div>
  
    <hr />
  
    <div class="row">
      <div class="col-sm-12 text-right">
        <button
          type="button"
          class="btn btn-link text-danger"
          data-bs-dismiss="modal"
        >
          Fechar
        </button>
        <!--[disabled]="form.invalid"-->
        <button [disabled]="form.invalid"  data-bs-dismiss="modal" type="submit" class="btn btn-primary">Salvar</button>
      </div>
    </div>
  </form>
  