<form [formGroup]="form" (ngSubmit)="cadastrar()" class="needs-validation">
    <div class="row">  
        <app-input-select
        class="col-sm-4"
        [label]="'Processo'"
        [id]="'processo'"
        [data$]="processos$"
        [config]="config"
        formControlName="processo"
      />
    </div>

    <div class="row">  

      <app-input-text
       class="col-sm-2"
       [label]="'Data'"
       [id]="'data'"
       [tipo]="'date'"
       formControlName="data" />

       <app-input-text
       class="col-sm-2"
       [label]="'Hora'"
       [id]="'hora'"
       [tipo]="'time'"
       formControlName="hora" />
  
      <app-input-select
        class="col-sm-2"
        [label]="'Tipo'"
        [id]="'tipo'"
        [data$]="tipos$"
        [config]="config2"
        formControlName="tipo"
      />

      <app-input-text
      *ngIf="form.value.tipo?.id == 2"
      class="col-sm-6"
      [label]="'Link'"
      [id]="'link'"
      [tipo]="'text'"
      formControlName="link" />

       

    </div>
   
    <div class="row">
        <app-input-text
        class="col-sm-12"
        [label]="'Observações'"
        [id]="'obs'"
        [tipo]="'textarea'"
        formControlName="obs"
       />
    </div>

    <hr />
  
    <div class="row">
      <div class="col-sm-12 text-right">
        <button
          type="button"
          class="btn btn-link text-danger"
          data-bs-dismiss="modal"
        >
          Fechar
        </button>
        <!--[disabled]="form.invalid"-->
        <button
          [disabled]="form.invalid"
          data-bs-dismiss="modal"
          type="submit"
          class="btn btn-primary"
        >
          Salvar
        </button>
      </div>
    </div>
  </form>
  