<form>
  <div class="row">
    <div class="col-sm-4">
      <div class="form-group">
        <label for="nome">Nome</label>
        <input type="text" class="form-control" id="nome" placeholder="Nome" />
      </div>
    </div>
    <div class="col-sm-2">
      <div class="form-group">
        <label for="cpf">CPF</label>
        <input
          maxlength="14"
          mask="000.000.000-00"
          type="text"
          class="form-control"
          id="cpf"
          placeholder="CPF"
        />
      </div>
    </div>
    <div class="col-sm-2">
      <div class="form-group">
        <label for="escritorio">Escritório</label>
        
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-4">
      <div class="form-group">
        <label for="email">E-mail</label>
        <input
          type="email"
          class="form-control"
          id="email"
          placeholder="E-mail"
        />
      </div>
    </div>
    <div class="col-sm-2">
      <div class="form-group">
        <label for="telefone1">Telefone 1</label>
        <input
          maxlength="16"
          mask="(00) 0 0000-0000"
          type="text"
          class="form-control"
          id="telefone1"
          placeholder="Telefone 1"
        />
      </div>
    </div>
    <div class="col-sm-2">
      <div class="form-group">
        <label for="telefone2">Telefone 2</label>
        <input
          maxlength="16"
          mask="(00) 0 0000-0000"
          type="text"
          class="form-control"
          id="telefone2"
          placeholder="Telefone 2"
        />
      </div>
    </div>
  </div>
</form>
