<div class="content-wrapper" >
    <app-titulo title="Agenda" />
  
    <section class="content">
        <div class="card">
            <!--<div class="card-header">
              <h3 class="card-title">
                Agenda de audiências
              </h3>
            </div>-->
            <div class="card-body p-10" *ngIf="events.length > 0">

                <div class="row text-center">
                    <div class="col-sm-4">
                      
                    </div>
                    <div class="col-sm-4">
                      <h3>{{ viewDate | calendarDate:(view + 'ViewTitle'):'en' }}</h3>
                    </div>
                    <!--<div class="col-sm-4">
                      <div class="btn-group">
                        <div
                          class="btn btn-primary"
                          (click)="setView(CalendarView.Month)"
                          [class.active]="view === CalendarView.Month"
                        >
                          Mês
                        </div>
                        <div
                          class="btn btn-primary"
                          (click)="setView(CalendarView.Week)"
                          [class.active]="view === CalendarView.Week"
                        >
                          Semana
                        </div>
                        <div
                          class="btn btn-primary"
                          (click)="setView(CalendarView.Day)"
                          [class.active]="view === CalendarView.Day"
                        >
                          Dia
                        </div>
                      </div>
                    </div>-->
                  </div>

                <div [ngSwitch]="view">
                    <mwl-calendar-month-view
                      *ngSwitchCase="CalendarView.Month"
                      [viewDate]="viewDate"
                      [events]="events"
                      [refresh]="refresh"
                      [activeDayIsOpen]="activeDayIsOpen"
                      (dayClicked)="dayClicked($event.day)"
                      (eventClicked)="handleEvent('Clicked', $event.event)"
                      (eventTimesChanged)="eventTimesChanged($event)"
                    >
                    </mwl-calendar-month-view>
                    <mwl-calendar-week-view
                      *ngSwitchCase="CalendarView.Week"
                      [viewDate]="viewDate"
                      [events]="events"
                      [refresh]="refresh"
                      (eventClicked)="handleEvent('Clicked', $event.event)"
                      (eventTimesChanged)="eventTimesChanged($event)"
                    >
                    </mwl-calendar-week-view>
                    <mwl-calendar-day-view
                      *ngSwitchCase="CalendarView.Day"
                      [viewDate]="viewDate"
                      [events]="events"
                      [refresh]="refresh"
                      (eventClicked)="handleEvent('Clicked', $event.event)"
                      (eventTimesChanged)="eventTimesChanged($event)"
                    >
                    </mwl-calendar-day-view>
                  </div>

                  <div class="row">
                    <div class="col-sm-4"></div>
                    <div class="col-sm-4 text-center p-2">
                        <div class="btn-group">
                            <div
                              class="btn btn-outline-primary"
                              mwlCalendarPreviousView
                              [view]="view"
                              [(viewDate)]="viewDate"
                              (viewDateChange)="closeOpenMonthViewDay()"
                            >
                              Anterior
                            </div>
                            <div
                              class="btn btn-outline-primary"
                              mwlCalendarToday
                              [(viewDate)]="viewDate"
                            >
                              Hoje
                            </div>
                            <div
                              class="btn btn-outline-primary "
                              mwlCalendarNextView
                              [view]="view"
                              [(viewDate)]="viewDate"
                              (viewDateChange)="closeOpenMonthViewDay()"
                            >
                              Próximo
                            </div>
                          </div>
                    </div>
                  </div>
              
            </div>
          </div>
    </section>
  </div>
  