<form [formGroup]="form" (ngSubmit)="cadastrar()" class="needs-validation">
  <div class="row">
    <app-input-select
      class="col-sm-2"
      [label]="'Tribunal'"
      [id]="'tribunal'"
      [data$]="tribunais$"
      [config]="config"
      formControlName="tribunal"
    ></app-input-select>

    <app-input-text
      class="col-sm-4"
      [label]="'Nome'"
      [id]="'nome'"
      [tipo]="'text'"
      formControlName="nome"
    ></app-input-text>

   
  </div>
  <div class="row">
    <app-input-text
    class="col-sm-4"
    [label]="'E-mail'"
    [id]="'email'"
    [tipo]="'email'"
    formControlName="email"
  ></app-input-text>
  
    <app-input-text
      class="col-sm-2"
      [label]="'Telefone 1'"
      [id]="'telefone1'"
      [tipo]="'text'"
      [mascara]="'(00) 0000-0000||(00) 0 0000-0000'"     
      formControlName="telefone1"
      
    ></app-input-text>
    
    <app-input-text
      class="col-sm-2"
      [label]="'Telefone 2'"
      [id]="'telefone2'"
      [tipo]="'text'"
      [mascara]="'(00) 0000-0000||(00) 0 0000-0000'"     
      formControlName="telefone2"
      
    ></app-input-text>
  </div>

  <div class="row">

    <app-input-select
      (ngModelChange)="getEstados()"
      class="col-sm-2"
      [label]="'País'"
      [id]="'pais'"
      [data$]="paises$"
      [config]="config2"
      formControlName="pais"
    ></app-input-select>

    <app-input-select
     
      (ngModelChange)="getCidades()"
      class="col-sm-2"
      [label]="'Estado'"
      [id]="'estado'"
      [data$]="estados$"
      [config]="config3"
      formControlName="estado"
    ></app-input-select>

    <app-input-select
      class="col-sm-2"
      [label]="'Cidade'"
      [id]="'cidade'"
      [data$]="cidades$"
      [config]="config4"
      formControlName="cidade"
    ></app-input-select>

  </div>
  <div class="row">
    <app-input-text
      class="col-sm-4"
      [label]="'Rua'"
      [id]="'rua'"
      [tipo]="'text'"
      formControlName="rua"
    ></app-input-text>

    <app-input-text
      class="col-sm-2"
      [label]="'Número'"
      [id]="'numero'"
      [tipo]="'text'"
      formControlName="numero"
    ></app-input-text>

    <app-input-text
      class="col-sm-4"
      [label]="'Complemento'"
      [id]="'complemento'"
      [tipo]="'text'"
      formControlName="complemento"
    ></app-input-text>

    <app-input-text
      class="col-sm-2"
      [label]="'CEP'"
      [id]="'cep'"
      [tipo]="'text'"
      [mascara]="'00000-000'"
      formControlName="cep"

    ></app-input-text>
  </div>

  <hr />

  <div class="row">
    <div class="col-sm-12 text-right">
      <button
        type="button"
        class="btn btn-link text-danger"
        data-bs-dismiss="modal"
      >
        Fechar
      </button>
      <!--[disabled]="form.invalid"-->
      <button
        [disabled]="form.invalid"
        data-bs-dismiss="modal"
        type="submit"
        class="btn btn-primary"
      >
        Salvar
      </button>
    </div>
  </div>
</form>
