<form [formGroup]="form" (ngSubmit)="cadastrar()" class="needs-validation">
  <div class="row">
    <app-input-select
      class="col-sm-2"
      [label]="'País'"
      [id]="'pais'"
      [data$]="paises$"
      formControlName="pais"
      [config]="config"
    ></app-input-select>

    <app-input-text
      class="col-sm-4"
      [label]="'Nome'"
      [id]="'nome'"
      [tipo]="'text'"
      formControlName="nome"
    ></app-input-text>

    <app-input-text
      class="col-sm-1"
      [label]="'UF'"
      [id]="'uf'"
      [tipo]="'text'"
      formControlName="uf"
    ></app-input-text>
  </div>

  <hr />

  <div class="row">
    <div class="col-sm-12 text-right">
      <button
        type="button"
        class="btn btn-link text-danger"
        data-bs-dismiss="modal"
      >
        Fechar
      </button>
      <!--[disabled]="form.invalid"-->
      <button
        [disabled]="form.invalid"
        data-bs-dismiss="modal"
        type="submit"
        class="btn btn-primary"
      >
        Salvar
      </button>
    </div>
  </div>
</form>
