<form [formGroup]="form" (ngSubmit)="cadastrar()" class="needs-validation">
  <div class="row">
    <div class="col-sm-4">
      <div class="form-group">
        <label for="nome"
          >Nome<span
            *ngIf="this.form.get('nome')?.errors?.['required']"
            class="text-danger"
            >*</span
          ></label
        >
        <input
          formControlName="nome"
          [ngClass]="{
            'is-invalid':
              form.get('nome')?.invalid &&
              (form.get('nome')?.dirty || form.get('nome')?.touched)
          }"
          type="text"
          class="form-control"
          id="nome"
          placeholder="Nome"
        />
        <div
          *ngIf="
            form.get('nome')?.invalid &&
            (form.get('nome')?.dirty || form.get('nome')?.touched)
          "
        >
          <span *ngIf="form.get('nome')?.errors?.['minlength']">
            Nome deve ter no mínimo 5 caracteres
          </span>
          <span *ngIf="form.get('nome')?.errors?.['maxlength']">
            Nome deve ter no máximo 150 caracteres
          </span>
          <span
            *ngIf="form.get('nome')?.errors?.['required']"
            class="text-danger"
            >Nome é obrigatório</span
          >
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="form-group">
        <label for="email"
          >E-mail<span
            *ngIf="this.form.get('email')?.errors?.['required']"
            class="text-danger"
            >*</span
          ></label
        >
        <input
          formControlName="email"
          [ngClass]="{
            'is-invalid':
              form.get('email')?.invalid &&
              (form.get('email')?.dirty || form.get('email')?.touched)
          }"
          type="email"
          class="form-control"
          id="email"
          placeholder="E-mail"
        />
        <div
          *ngIf="
            form.get('email')?.invalid &&
            (form.get('email')?.dirty || form.get('email')?.touched)
          "
        >
          <span *ngIf="form.get('email')?.errors?.['email']">
            O texto informado precisa ser um e-mail.
          </span>

          <span
            *ngIf="form.get('email')?.errors?.['required']"
            class="text-danger"
            >E-mail é obrigatório</span
          >
        </div>
      </div>
    </div>
    <div class="col-sm-2">
      <div class="form-group">
        <label for="telefone1"
          >Telefone 1<span
            *ngIf="this.form.get('telefone1')?.errors?.['required']"
            class="text-danger"
            >*</span
          ></label
        >
        <input
          formControlName="telefone1"
          [ngClass]="{
            'is-invalid':
              form.get('telefone1')?.invalid &&
              (form.get('telefone1')?.dirty || form.get('telefone1')?.touched)
          }"
          maxlength="16"
          mask="(00) 0 0000-0000"
          type="text"
          class="form-control"
          id="telefone1"
          placeholder="Telefone 1"
        />
        <div
          *ngIf="
            form.get('telefone1')?.invalid &&
            (form.get('telefone1')?.dirty || form.get('telefone1')?.touched)
          "
        >
          <span *ngIf="form.get('telefone1')?.errors?.['minlength']">
            Telefone deve ter no mínimo 11 caracteres
          </span>
          <span *ngIf="form.get('telefone1')?.errors?.['maxlength']">
            Telefone deve ter no máximo 11 caracteres
          </span>
          <span
            *ngIf="form.get('telefone1')?.errors?.['required']"
            class="text-danger"
            >Telefone é obrigatório</span
          >
        </div>
      </div>
    </div>
    <div class="col-sm-2">
      <div class="form-group">
        <label for="telefone2"
          >Telefone 2<span
            *ngIf="this.form.get('telefone2')?.errors?.['required']"
            class="text-danger"
            >*</span
          ></label
        >
        <input
          formControlName="telefone2"
          [ngClass]="{
            'is-invalid':
              form.get('telefone2')?.invalid &&
              (form.get('telefone2')?.dirty || form.get('telefone2')?.touched)
          }"
          maxlength="16"
          mask="(00) 0 0000-0000"
          type="text"
          class="form-control"
          id="telefone2"
          placeholder="Telefone 2"
        />
        <div
          *ngIf="
            form.get('telefone2')?.invalid &&
            (form.get('telefone2')?.dirty || form.get('telefone2')?.touched)
          "
        >
          <span *ngIf="form.get('telefone2')?.errors?.['minlength']">
            Telefone deve ter no mínimo 11 caracteres
          </span>
          <span *ngIf="form.get('telefone2')?.errors?.['maxlength']">
            Telefone deve ter no máximo 11 caracteres
          </span>
          <span
            *ngIf="form.get('telefone2')?.errors?.['required']"
            class="text-danger"
            >Telefone é obrigatório</span
          >
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    

    
  </div>

  <hr />

  <div class="row">
    <div class="col-sm-12 text-right">
      <button
        type="button"
        class="btn btn-link text-danger"
        data-bs-dismiss="modal"
      >
        Fechar
      </button>
      <!--[disabled]="form.invalid"-->
      <button
        [disabled]="form.invalid"
        data-bs-dismiss="modal"
        type="submit"
        class="btn btn-primary"
      >
        Salvar
      </button>
    </div>
  </div>
</form>
