<form [formGroup]="form" (ngSubmit)="cadastrar()" class="needs-validation">
  <div class="row">
    <app-input-text
      class="col-sm-4"
      [label]="'Nome'"
      [id]="'nome'"
      [tipo]="'text'"
      formControlName="nome"
    ></app-input-text>

    <app-input-text
      class="col-sm-4"
      [label]="'E-mail'"
      [id]="'email'"
      [tipo]="'email'"
      formControlName="email"
    ></app-input-text>

    <app-input-text
      class="col-sm-2"
      [label]="'Telefone 1'"
      [id]="'telefone1'"
      [tipo]="'text'"
      [mascara]="'(00) 0 0000-0000'"     
      formControlName="telefone1"
      
    ></app-input-text>
    
    <app-input-text
      class="col-sm-2"
      [label]="'Telefone 2'"
      [id]="'telefone2'"
      [tipo]="'text'"
      [mascara]="'(00) 0 0000-0000'"     
      formControlName="telefone2"
      
    ></app-input-text>
  </div>
  <div class="row">
    

    
  </div>

  <hr />

  <div class="row">
    <div class="col-sm-12 text-right">
      <button
        type="button"
        class="btn btn-link text-danger"
        data-bs-dismiss="modal"
      >
        Fechar
      </button>
      <!--[disabled]="form.invalid"-->
      <button
        [disabled]="form.invalid"
        data-bs-dismiss="modal"
        type="submit"
        class="btn btn-primary"
      >
        Salvar
      </button>
    </div>
  </div>
</form>
