<form [formGroup]="form" (ngSubmit)="cadastrar()" class="needs-validation">    

    <div class="row">  
        
        <app-input-select       
        class="col-sm-6"
        [label]="'Status'"
        [id]="'status'"
        [data$]="status$"
        formControlName="status"
        [config]="config"
      />

    </div>

    <hr />
  
    <div class="row">
      <div class="col-sm-12 text-right">
        <button
          type="button"
          class="btn btn-link text-danger"
          data-bs-dismiss="modal"
        >
          Fechar
        </button>
        <!--[disabled]="form.invalid"-->
        <button
          [disabled]="form.invalid"          
          type="submit"
          class="btn btn-primary"
        >
          Salvar
        </button>
      </div>
    </div>
  </form>
  