<aside class="main-sidebar sidebar-dark-navy elevation-4">
  <a routerLink="home" class="brand-link">
    <img
      src="assets/casamil.png"
      alt="AdminLTE Logo"
      class="brand-image img-circle elevation-3"
      style="opacity: 0.8"
    />
    <span class="brand-text font-weight-light">InfoJuris</span>
  </a>

  <div class="sidebar">
    <nav class="mt-2">
      <ul
        class="nav nav-pills nav-sidebar flex-column"
        data-widget="treeview"
        role="menu"
        data-accordion="false"
      >
        <li class="nav-item">
          <a routerLink="Inicio" routerLinkActive="active" class="nav-link">
            <i class="nav-icon fa fa-home"></i>
            <p>Início</p>
          </a>
        </li>
        <li class="nav-item">
          <a routerLink="Audiencias" routerLinkActive="active" class="nav-link">
            <i class="nav-icon fa fa-gavel"></i>
            <p>Audiências</p>
          </a>
        </li>
        <li class="nav-item">
          <a routerLink="Clientes" routerLinkActive="active" class="nav-link">
            <i class="nav-icon fa fa-users"></i>
            <p>Clientes</p>
          </a>
        </li>
        <li class="nav-item">
          <a routerLink="Escritorios" routerLinkActive="active" class="nav-link">
            <i class="nav-icon fa fa-building"></i>
            <p>Escritórios</p>
          </a>
        </li> 
        <li class="nav-item">
          <a routerLink="Filiais" routerLinkActive="active" class="nav-link">
            <i class="nav-icon fa fa-sitemap"></i>
            <p>Filiais</p>
          </a>
        </li>        
        <li class="nav-item">
          <a routerLink="Processos" routerLinkActive="active" class="nav-link">
            <i class="nav-icon fa fa-folder-open"></i>
            <p>Processos</p>
          </a>
        </li>
        <li class="nav-item">
          <a routerLink="Usuarios" routerLinkActive="active" class="nav-link">
            <i class="nav-icon fa fa-users"></i>
            <p>Usuários</p>
          </a>
        </li>
        
       
        <li class="nav-item">
          <a href="#" class="nav-link">
            <i class="nav-icon fas fa-cog"></i>
            <p>
              Administrador
              <i class="right fas fa-angle-left"></i>
            </p>
          </a>
          <ul class="nav nav-treeview">
            <li class="nav-item">
              <a routerLink="Cidades" routerLinkActive="active" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>Cidades</p>
              </a>
            </li>
            <li class="nav-item">
              <a routerLink="Comarcas" routerLinkActive="active" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>Comarcas</p>
              </a>
            </li>
            <li class="nav-item">
              <a routerLink="Estados" routerLinkActive="active" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>Estados</p>
              </a>
            </li>
            <li class="nav-item">
              <a routerLink="Naturezas" routerLinkActive="active" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>Naturezas</p>
              </a>
            </li>
            <li class="nav-item">
              <a routerLink="Ocupacoes" routerLinkActive="active" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>Ocupações</p>
              </a>
            </li>
            <li class="nav-item">
              <a routerLink="Paises" routerLinkActive="active" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>Países</p>
              </a>
            </li>
            <li class="nav-item">
              <a routerLink="Tribunais" routerLinkActive="active" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>Tribunais</p>
              </a>
            </li>
            <li class="nav-item">
              <a routerLink="Varas" routerLinkActive="active" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>Varas</p>
              </a>
            </li>
            
          </ul>
        </li>
      </ul>
    </nav>
  </div>
</aside>
